/__tests__
/example
/node_modules
/.babelrc
/.buckconfig
/.eslintrc.js
/.gitattributes
/.gitignore
/.watchmanconfig
/.prettierrc.js
/app.json
/App.tsx
/index.js
/babel.config.js
/metro.config.json
/package-lock.json
/tsconfig.json
/yarn.lock
